@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content:center ;
    align-items: center;
}

.card-container{
    width:50vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

.card{
    height:100%;
    width:33.33%;
    padding: 2rem 3rem 3rem 3rem;
}

.card-title{
    padding:5px 0px;
    font-size:2rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

.card-text{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 95%);
    font-weight: 400;
    font-size:0.7rem;
    opacity:0.8;
}
.card1{
    background-color:hsl(31, 77%, 52%) ;
    color:hsl(31, 77%, 52%);
}

.card2{
    background-color:hsl(184, 100%, 22%) ;
    color:hsl(184, 100%, 22%);
    
    }

.card3{
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}

.learn-button{
    padding:0.8rem 2rem;
    margin-top:3rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border:0px;
}

@media screen and (max-width:600px) {
    .card-container{
        width:90%;
        height: 90%;
        flex-direction: column;
    }
}