@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

#card-container {
    background-color: hsl(185, 41%, 84%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    background-color: white;
    width: 60%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    border-radius: 10px;
}


.input-title {
    padding-top: 2rem;
    font-size: 14px;
    color: hsl(186, 14%, 43%);
}

#bill{
    padding-top: 0;
}

.payment-info{
    width: 20rem;
    height: 2.5rem;
    text-align: right;
    padding-right: .7rem;
}



.payment-inputs:focus{
    border: none;
    outline: none;
}

.sign{
    position: relative;
    right: 20rem;
}

.tip-btn{
    width: 5rem;
    height: 2.5rem;
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    text-align: center;
}

#custom-btn{
    color: hsl(183, 100%, 15%) ;
    font-weight: bold;
}

#btn-section {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; 
}

.payment-inputs{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: .3rem;
}

#people-error{
    margin-left: 4rem;
}

#right-card{
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 2rem;
}

.resulted-tip{
    color: white;
    font-size: 12px;
    
}

.person{
    color: hsl(184, 14%, 56%);
}

.tips{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: hsl(172, 67%, 45%);
}

.tip-value{
    font-size: 3rem;
    align-self: flex-start;
}

#reset-btn{
    width: 100%;
    height: 2.5rem;
    border:none;
    border-radius: 10px;
    background-color: hsl(172, 67%, 45%);
    font-size: 1rem;
    color: hsl(183, 100%, 15%);
}

@media only screen and (max-width: 900px)  {
    #card-container {
        width: 100%;
    }

    #card{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0;
    }

    #left-card{
        padding: 0 2rem;
    }

    .input-title{
        padding: 0;
    }

    #btn-section{
        grid-template-columns: 1fr 1fr;
        
    }

    .tip-btn{
        width: 8rem;
    }

    #right-card{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}


