@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

#card-container {
    background-color: hsl(185, 41%, 84%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    background-color: white;
    width: 60%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    border-radius: 10px;
}


.input-title {
    padding-top: 2rem;
    font-size: 14px;
    color: hsl(186, 14%, 43%);
}